*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  background: #111B22;
  min-height: 100vh;
  color: white;
  padding: 2rem;

}
.title{
  text-align: center;
  padding: 1rem;
}
.title span {
  color: rgb(20, 223, 20);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.boxes{
  height: 130px;
 width: 130px;
 background: #223541;
 margin: 3px;
 border-radius: 5px;
 padding: 20px;
}
.row1{
  display: flex;
}
.row2{
  display: flex;
}
.row3{
  display: flex;
}
.btn{
  padding: 1rem 3rem;
  background: transparent;
  border: 1px solid green;
  border-radius: 50px;
  font-size: 20px;
  color: white;
}
.boxes img {
  width: 100%;
  height: 100%;
  /* margin: 50px 50px; */
}
.title img {
  width: 30px;
}